<!DOCTYPE html>
<html>
<head>
	<title>YH's Diary</title>
	<link rel="stylesheet" href="static/main.css">
	<link rel="stylesheet" href="./static/style.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
	<meta name="theme-color" content="#1abc9c">
</head>

<body width="100%" height="100%">
	<div id="header">
		<div class="container">
			<a href="{{url_for('index')}}" id="header-title">YH's Diary</a>
			{% if 'username' in session %}
			<ul id="header-nav">
				<li><a href="{{url_for('logout')}}">로그아웃</a></li>
			</ul>
			{% endif %}
		</div>
	</div>

	<form action="" method="post" class="loginForm">
		<h2>로그인</h2>
		<div class="idForm">
			<input type="text" class="id" placeholder="ID" name="username">
		</div>
		<div class="passForm">
			<input type="password" class="pw" placeholder="비밀번호" name="password">
		</div>
		<input type="submit" class="btn" value="로그인" />
		<div class="bottomText">
			아직 ID가 없다면? <a href="register">회원가입</a>
			{% block message %}
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			<div class="message">
				<p style="color: blue"><br>{{messages[0][1]}}</p>
			</div>
			{% endif %}
			{% endwith %}
			{% endblock message %}
		</div>
	</form>
	
</body>
</html>