<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>
{% extends 'base2.html' %}
{% block contents %}
    {% for diary in diaries %}
    {% if session['username'] == diary['name'] %}
    <div class="post-container">
        <div class="post">
            <div class="post-author">
                <span>{{ diary['name'] }}</span>
            </div>
            <p class="post-date">{{ diary['created_time'].strftime('%Y-%m-%d / %H:%M') }}</p>
            <h3 class="post-title"><a href="{{url_for('show_diary', diaryId=diary._id)}}">{{diary.title}}</a></h3>
            <div class="post-content">
                {{ diary['content'] }}
            </div>
            <br>
            <p><a class="post-title" href="{{ url_for('edit_diary', diaryId=diary._id) }}">수정 </a>
            <a class="post-title" href="{{ url_for('delete_diary', diaryId=diary._id) }}"> 삭제</a></p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}
</html>