<!DOCTYPE html>
<html>

<head>
    <title>YH's Diary</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
    <meta name="theme-color" content="#1abc9c">
</head>

<body>
    <div id="header">
        <div class="container">
            <a href="{{url_for('index')}}" id="header-title">YH's Diary</a>
            {% if 'username' in session %}
            <ul id="header-nav">
                <li><a href="{{url_for('logout')}}">로그아웃</a></li>
            </ul>
            {% endif %}
        </div>
    </div>

    <form action="" method="post" class="signupForm">
        <h2>회원가입</h2>
        <div class="idForm">
            <input type="text" class="id" placeholder="ID를 입력하세요" name="username">
        </div>
        <div class="passForm">
            <input type="password" class="pw" placeholder="비밀번호를 입력하세요" name="password">
        </div>
        <div class="passForm">
            <input type="password" class="pw" placeholder="비밀번호를 다시 입력하세요" name="passwordcheck">
        </div>
        <input type="submit" class="btn" value="회원가입" />
        <div class="bottomText">
            {% block message %}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="message">
                <p style="color: blue">{{messages[0][1]}}</p>
            </div>
            {% endif %}
            {% endwith %}
            {% endblock message %}
        </div>
    </form>
</body>

</html>